.headerContainer {
    overflow: hidden;
    width: 100%;
    height: 36px;
    color: #fff;
    background: var(--header-background);
    position: fixed;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    padding: 2px 20px 2px 20px;
    box-sizing: border-box;
    will-change: transform;
    transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 3%;
    padding: 0 0 4px 0;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navLink {
    color: var(--main-text);
}

.themeButton {
    border: none;
    background: none;
    padding: 0 20px 0 0;
}

.controlButton {
    border: none;
    background: none;
    padding: 0;
}

.changeButton {
    width: 25px;
    height: 25px;
    border-radius: 60%;
}

.rightControls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    align-content: center;
}

.footerContainer{
    position: relative;
    display: flex;
    justify-content: center;
    color: #fff;
    background: var(--footer-background);
    padding: 8px 0;
    box-sizing: border-box;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.6);
}

.footerCopyright{
    color: var(--main-text);
}

.langElTitle{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 8px;
}